.body{
    background-color: black;
    height: 600px;
}
.Login-container{
    border: 1px solid white;
    width:400px;
    height:200px;
   
    margin: auto;
   border-radius: 5px;
  justify-content: center;
}

h2{
   color: white;
   justify-content: center;
   text-align: center;
   padding-top: 80px;
   margin-top: none;
}
form{
    justify-content: center;
}
div button{
    padding: 12px;
    width: 90%;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #383e47;
    color: #6c727a;
}
.top_heading{
    justify-content: center;
}
.top_heading p{
 color: white;
 margin-left: 50px;

}
.input_field input{
    padding: 10px;
    margin-left: 30px;
    width: 80%;
    color:white;
    background-color: black;
    border-bottom: 0 0 1px 0;


}
.bottom_option{
   color: white;
   justify-content: center;
   text-align: center;
}