body{
background-color: #1a1c21;

}

.Image_container{
    width: 73%;
    
    background-color: #1a1c21;
    padding: 5px;
    margin-top: 20px;
}
.image_cont{
    width: fit-content;
    height: fit-content;
    border-radius:10px;
    display: flex;
    gap: 5px;
    align-items: center;
}

            
.bttom_btn:hover{
    position: relative;
    bottom: 0;
   opacity: 0.9;
   
}

/*      */

/* .style_share {
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 20px;
} */

.pADKZ6 {
    position:absolute;
    right: 125px;
     bottom: -30px;
    cursor: pointer;
    background-color: yello;
 
   
}
.pADKZ6 div {
    visibility: hidden;
   
}
.pADKZ6:hover div {
    visibility: visible;
   
}

 .overlay_icons {
    display: flex;
    gap: 2px;   
}
.overlay_icons:hover{
    visibility: visible;
}


.icons_ofshare {
    width: 30px;
    height: 34px;
    object-fit: contain;
    padding-left: 2px;
    cursor: pointer;
}

@media screen and (min-width:400px) and (max-width:720px) {
    .Image_container{
      
        
        padding: 5px;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        font-size: 12px;
       
    }
    .image_cont{
        width: fit-content;
        height: fit-content;
        border-radius:10px;
        display: flex;
        gap: 5px;
        align-items: center;
        flex-wrap: wrap;
        font-size: 12px;
       
    }
    .age_rating{
        display: flex;
        flex-direction: row;
        text-align: left;
        font-size: 12px;
        flex-wrap: wrap;
    }
    
}