
@media screen and (min-width:220px) and (max-width:420px) {
    .Tittle_bar{
        display: flex;
        flex-direction: column;
        margin-bottom: -30px;

    }
    .Share_button{
       /* background-color: rebeccapurple; */
        color: red;
        display: flex;
        flex-direction: row;
        padding: 10px;

       
    }
    .WatchNow_bottom div{
        background-color: red;
        display: none;
    }
    .WatchNow_bottom{
        /* background-color: red; */
        color: red;
    }
    .botton_watch_Now{
        /* background-color: red; */
    }
    .watch_button{
        background-color: red;
        position: absolute;
        top:15rem;
        left: 60%;
       


    }
    
    
}
@media screen and (min-width:420px) and (max-width:800px) {
    .Tittle_bar{
        display: flex;
        flex-direction: column;
        margin-bottom: -30px;

    }
    .Share_button{
        color: red;
        display: flex;
        flex-direction: row;
        padding: 10px;

       
    }
    .WatchNow_bottom div{
        background-color: red;
        display: none;
    }
    .WatchNow_bottom{
        /* background-color: red; */
        color: red;
    }
    .botton_watch_Now{
        /* background-color: red; */
    }
    .watch_button{
        background-color: red;
        position: absolute;
        top:17.5rem;
        left: 65%;
       
    }

}
