
@media screen and (min-width:400px) and (max-width:720px) {
    .Image_container{
        width: 73%;
        background-color: #1a1c21;
        padding: 5px;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        font-size: 12px;
        background-color: red;
    }
    
}