.main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 5px;
    column-gap: 5px;
    width: 80%;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    
}
.inner_container div{
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear; 
}
.inner_container:hover div{
    visibility: visible;
    transition: 5ms;
}
.inner_container{
    margin-top: 7px;
   
    height: 210px;
}

.main_container{
   
   background-color: #1a1c21;
    height: 250px;
    overflow: hidden;
    padding: 5px;
    
}
.content{
    visibility: visible;
   position: absolute;
   bottom: 5px;
  
   overflow: hidden;
}