.appStyle {
    background-color: #1a1c21;
    min-height: calc(100vh - 200px);
    border: 1px solid #1a1c21;
}
.heading {
  
    font-size: 30px;
    font-weight: 500;
    color: #ffff;
    padding-left: 38px;
    margin-top: 40px;
    margin-bottom: -10px;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    line-height: 1.6;
}
.heading:hover{
    color: #c7cddd;
    cursor: pointer;
  
    
}
.live-grid {
    display: grid;
    padding: 22px 38px 0px 38px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(7, minmax(0, 100%));
}
.live_blks {
    cursor: pointer;
    text-decoration: none;
}
.subboxes {
    position: relative;
    height: 118px;
}
.img_contain {
    top: 0px;
    z-index: 2;
    border-radius: 10px; 
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: left;
    background-position: center;
    background-position-x: 40%;
    background-position-y: 30%;  
    transition: transform 0.5s;
}
.img_contain:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgb(13, 162, 221);
  
}
.img_details {
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
}
.live_style {
    padding: 10px;
    display: none;
}
.img_contain:hover .live_style {
    display: block;
    
}
.block2 {
    padding: 30px 0px;
}
.blk2_subs {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    text-decoration: none;
    
}
.blk2_height {
    position: relative;
    height: 288px;
    border-radius: 10px;
}
.background {
    background-image: linear-gradient(#1b1c1d00, rgb(18 19 23 / 85%));
    width: 100%;
    height: 100%;
   display: none;
}
.blk2_contain {
    height: 100%;
    width: 100%;
    background-position: center center;
    border-radius: 10px;
    transition: transform 0.5s;
    
}
.blk2_contain:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgb(13, 162, 221);
}
.blk2_subs:hover .background {
    display: block;
    

  
}

